<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% block titulo %} {% endblock %}     
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Le styles -->
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}css/icon-style.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}source/jquery.fancybox.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" />
		

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{% url 'Productos:index' %}">
						<img width="150px" height="50px" src="{{ STATIC_URL }}img/logoTiendaVirtual.png" />
					</a>
					<div class="nav-collapse">
						<ul class="nav">
				<li class="divider-vertical"></li>
							<li><a href="about.html">About</a></li>
				<li class="divider-vertical"></li>
							<form class="navbar-search pull-left" action="" />
								<input type="text" class="search-query span2" placeholder="Search" required="" />
							</form>
				<li class="divider-vertical"></li>
						</ul>
						<ul class="nav pull-right">
						<li class="divider-vertical"></li>

						{% if user.is_authenticated %}
							{% if user.is_superuser %}
						<li class="gravatar"><a href="profile.html"></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrador {{ user.username }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'Administrador:perfil_admi' %}"><i class="icon-user"></i>  Configuraciones de Cuenta</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'Administrador:cerrar_sesion_admi' %}"><i class="icon-off"></i> Salir</a></li>
							</ul>
						</li>
							{% else %}
						<li class="gravatar"><a href="profile.html"></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="account_setting.html"><i class="icon-user"></i> Configuraciones de Cuenta</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'Administrador:cerrar_sesion_admi' %}"><i class="icon-off"></i> Salir</a></li>
							</ul>
						</li>  
							{% endif %}
						{% else %}
						<li><a href="{% url 'Administrador:inicio_sesi_admi' %}"><i class="icon-lock"></i> Inicia Sesion</a></li>
						<li class="divider-vertical"></li>
						<li><a href="{% url 'Productos:crear_user' %}"><i class="icon-edit"></i> Registrate</a></li>
						<li class="divider-vertical"></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
						{% endif %}

						<li class="divider-vertical"></li>
					</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script src="{{ STATIC_URL }}js/datepicker.js"></script>
		<!-- <script src="{{ STATIC_URL }}js/image-gallery.js"></script> -->
		<script src="{{ STATIC_URL }}js/jquery.mousewheel-3.0.6.pack.js"></script>
		<script src="{{ STATIC_URL }}source/jquery.fancybox.js"></script>
		
		{% block contenido %} {% endblock %}  

		{% block numsPaginacion %} {% endblock %}      
		
		<div class="container footer">
				<hr class="alt" />
				<div class="row">
						<div class="span6">&copy; 2013 tiendaVirtual. Todos los derechos reservados.</div>
						<div class="span6">
								<ul>
										<li><a href="#">Terms Of Service</a></li>
										<li><a href="#">Privacy</a></li>
								</ul>
						</div>
				</div>
		</div>

		
		
	</body>
</html>
