{% extends "base.html" %}  
{% block titulo %}<title>Iniciar Sesión Admi</title> {% endblock %}     

{% block contenido %}  
<div class="account-container btm10">

	<div class="form-content clearfix">
    
		<form method="post" />{% csrf_token %}

			<h1><i class="iconbig-lock"></i> Inicio Sesión Admin</h1>	
            
			<div class="login-fields">
            
				<p>Inicia Sesión con tu cuenta Admin:</p>

				{% if formIniSesiAdmi.non_field_errors %}
				<div class="field">
						<div class="alert alert-danger">
							{{ formIniSesiAdmi.non_field_errors }}
						</div>
						<br>
				</div>		
				{% endif %}
                
				<div class="field">
					<label for="username">Username:</label>
					<!-- <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" required="" /> -->		
					{{ formIniSesiAdmi.usuario }}
				</div> <!-- /field -->

				<div class="field">
					<label for="password">Password:</label>
					<!-- <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" required="" /> -->
					{{ formIniSesiAdmi.clave }}
				</div> <!-- /password -->

			</div> <!-- /login-fields -->			

			<div class="login-actions">

				<span class="login-checkbox">

					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />

					<label class="choice" for="Field">Mantenerme Logueado</label>

				</span>

				<input type="submit" name="submit" value="Iniciar" class="btn-signin btn btn-primary" />
                <a href="#" class="btn-signin btn">Cancelar</a>
                

			</div> <!-- .actions -->


			<!-- <div class="login-social marg10-btm">

				<p>Sign in using social network:</p>

					<a href="#" class="btn"><img src="img/twitter-18.png" /> Signin with twitter</a>

					<a href="#" class="btn"><img src="img/facebook-18.png" /> Signin with facebook</a>			

			</div> -->
            
            <p><a href="#">¿ Olvidaste tu Contraseña ?</a></p>

		</form>

	</div> <!-- /form-content -->

</div> <!-- /account-container -->
{% endblock %}