{% extends "base.html" %}  
{% block titulo %}<title>Perfil</title> {% endblock %}     

{% block contenido %} 
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(function(){
  $('.datepicker').datepicker({
      format: 'yyyy-mm-dd'
  });
});
</script>

<div class="container"> 
    <div class="row">
        <div class="span3 left-sidebar">
            <div class="account-settings">
                <img src="{{ STATIC_URL }}img/gravatar.jpg" />
            </div>
            <div class="account-detail">
                <p><strong>Sign up :</strong></p>
                <p>3 weeks a go</p>
                <p><strong>Location : </strong></p>
                <p>California</p>
                <p><strong>Website : </strong></p>
                <p><a href="#">http://johndoe.com</a></p>
                <hr />
                <p><a href="profile.html">View Public Profile</a></p>
            </div>
        </div>
        <div class="span9 content-setting">
            <div class="content-settings">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                    <li><a href="#password" data-toggle="tab">Password</a></li>
                    {% if user.is_superuser %}
                    <li><a href="#adherir_producto" data-toggle="tab">Adherir Productos</a></li>
                    <li><a href="#adherir_promocion" data-toggle="tab">Adherir Promocion</a></li>
                    <li><a href="#Dar_de_baja" data-toggle="tab">Dar de baja</a></li>
              
                    <li><a href="#cargar_dinero" data-toggle="tab">Cargar Dinero</a></li>
                    {% endif %}
                  </ul>
                  
                  <div class="tab-content">

                    <div class="tab-pane active" id="profile"><!-- Profile -->
                      <form class="form-horizontal"  method="POST">{% csrf_token %}
                        <div class="control-group">
                          <label class="control-label">Your Name</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" value="John Doe" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Username</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" value="johndoe" />
                            <p class="help-block">Your Public Profile : http://yourdomain.com/profile/johndoe</p>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Email</label>
                          <div class="controls">
                            <input type="email" class="input-xlarge" value="johndoe@domain.com" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Website</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" value="johndoe.com" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">About</label>
                          <div class="controls">
                            <textarea class="input-xlarge" id="textarea" rows="3">Lorem ipsum dolor sit amet.</textarea>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Avatar</label>
                          <div class="controls">
                            <input class="input-file" id="fileInput" type="file" />
                          </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" name="submit" value="Save Change" class="btn" />
                        </div>
                    </form>
                    </div>
                    



                    <div class="tab-pane" id="Dar de baja"><!-- Profile -->
                      <form class="form-horizontal"  method="POST">{% csrf_token %}
                        <div class="control-group">
                          <label class="control-label">Your Name</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" value="John Doe" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Username</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" value="johndoe" />
                            <p class="help-block">Your Public Profile : http://yourdomain.com/profile/johndoe</p>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Email</label>
                          <div class="controls">
                            <input type="email" class="input-xlarge" value="johndoe@domain.com" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Website</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" value="johndoe.com" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">About</label>
                          <div class="controls">
                            <textarea class="input-xlarge" id="textarea" rows="3">Lorem ipsum dolor sit amet.</textarea>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Avatar</label>
                          <div class="controls">
                            <input class="input-file" id="fileInput" type="file" />
                          </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" name="submit" value="Save Change" class="btn" />
                        </div>
                    </form>
                    </div>

                    <div class="tab-pane" id="password"><!-- Password -->
                      <form class="form-horizontal" method="POST" >{% csrf_token %}
                        <input type="hidden" name="form-type" value"password_form" /> <!-- set type -->
                        <div class="control-group">
                          <label class="control-label">Enter Old Password</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_cambiar_clave.clave }}
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Enter New Password</label>
                          <div class="controls">
                            <input type="password" class="input-xlarge" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Confirma nueva Contraseña</label>
                          <div class="controls">
                            <input type="password" class="input-xlarge" />
                          </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" name="submit" value="Save Change" class="btn" />
                        </div>
                      </form>
                    </div>
                    

                    {% if user.is_superuser %}
                    <div class="tab-pane" id="adherir_producto"><!-- Password -->
                      <form class="form-horizontal" method="POST">{% csrf_token %}
                        <input type="hidden" name="form-type" value = "admin_product_form" /> <!-- set type -->
                        <div class="control-group">
                          <label class="control-label">Escoge el tipo de Producto</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.tipo }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Escoge Mime type </label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.mime_type }}
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Escoge Extensión</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.extension }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Sube Archivo</label>
                          <div class="controls">
                            <!-- <input class="input-file" id="fileInput" type="file" /> -->
                            {{ form_adherir_productos.archivo }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Nombre Archivo</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.nombre_archivo }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Nombre Autor</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.nombre_autor }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Precio</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.precio }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Categoría</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_adherir_productos.categoria }}
                          </div>
                        </div>

                        <div class="form-actions">
                            <input type="submit" name="submit" value="Save Change" class="btn" />
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane " id="adherir_promocion"><!-- adherir_promocion -->
                      <form class="form-horizontal"  method="POST">{% csrf_token %}
                        <input type="hidden" name="form-type" value = "promocion_form" /> <!-- set type -->

                        <div class="control-group">
                          <label class="control-label">Fecha Inicio</label>
                          <div class="controls">
                            {{ form_adherir_promocion.fecha_inicio }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Fecha Fin</label>  
                          <div class="controls">
                            {{ form_adherir_promocion.fecha_fin }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Descuento</label>
                          <div class="controls">
                            {{ form_adherir_promocion.descuento }}
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Descripcion</label>
                          <div class="controls">
                            {{ form_adherir_promocion.descripcion }}
                          </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" name="submit" value="Guardar Promocion" class="btn" />
                        </div>
                    </form>
                    </div>
                    {% endif %}

                  {% if user.is_superuser %}
                    <div class="tab-pane" id="cargar_dinero"><!-- Password -->
                      <form class="form-horizontal" method="POST">{% csrf_token %}
                        <input type="hidden" name="form-type" value"cargar_dinero_form" /> <!-- set type -->
                      
                        <div class="control-group">
                          <label class="control-label">Nombre de Usuario</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_cargar_dinero.nombre_usuario }}  
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">Monto</label>
                          <div class="controls">
                            <!-- <input type="password" class="input-xlarge" /> -->
                            {{ form_cargar_dinero.saldo }}
                          </div>
                        </div>

                        <div class="form-actions">
                            <input type="submit" name="submit" value="Save Change" class="btn" />
                        </div>
                      </form>
                    </div>
                    {% endif %}



                  </div>
                </div> <!-- end tabbable -->
            </div>
        </div>
    </div>
</div>
{% endblock %}