{% extends "base.html" %}  
{% block titulo %}<title>Registrarse</title> {% endblock %}     

{% block contenido %}  
<div class="account-container">

	<div class="form-content clearfix">
    
		<form method="post" />{% csrf_token %}

			<h1><i class="iconbig-note-write"></i> Registrarse</h1>	
            
			<div class="login-fields">
            
				<p>Ingresa tus datos:</p>

				{% if formRegister.non_field_errors %}
				<div class="field">
						<div class="alert alert-danger">
							{{ formRegister.non_field_errors }}
						</div>
						<br>
				</div>		
				{% endif %}
                
				<div class="field">

					<label for="username">Username:</label>

					<!-- <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" required="" /> -->
					{{ formRegister.usuario }}
				</div> <!-- /field -->

				<div class="field">
					<label for="username">Nombre:</label>					
					{{ formRegister.nombre }}
				</div>

				<div class="field">
					<label for="username">Apellidos:</label>					
					{{ formRegister.apellidos }}
				</div>
                
        		<div class="field">

					<label for="email">Email:</label>

					<!-- <input type="email" id="email" name="email" value="" placeholder="Email" class="login email-field" required="" /> -->
					{{ formRegister.correo }}

				</div> <!-- /field -->


				<div class="field">

					<label for="password">Password:</label>

					<!-- <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" required="" /> -->
					{{ formRegister.clave }}
					
					{% if  formRegister.clave.errors %}
					<div class="alert alert-danger">{{ formRegister.clave.errors }}</div>
					{% endif %}

				</div> <!-- /password -->

				<div class="field">

					<label for="password">Password:</label>

					<!-- <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" required="" /> -->
					{{ formRegister.clave_confirmar }}

					{% if  formRegister.clave_confirmar.errors %}
					<div class="alert alert-danger">{{ formRegister.clave_confirmar.errors }}</div>
					{% endif %}

				</div> <!-- /password -->

			</div> <!-- /login-fields -->			

			<div class="login-actions">

				<input type="submit" name="submit" value="Registrate" class="btn-signin btn btn-primary" />
                
                <a href="#" class="btn-signin btn">Cancelar</a>

			</div> <!-- .actions -->


			<!-- <div class="login-social marg10-btm">

				<p>Sign up using social network:</p>

					<a href="#" class="btn"><img src="img/twitter-18.png" /> Signup with twitter</a>

					<a href="#" class="btn"><img src="img/facebook-18.png" /> Signup with facebook</a>			

			</div> -->

		</form>

   </div> <!-- /form-content -->

</div> <!-- /account-container -->
{% endblock %}
     
<!-- {% block paginacion %}  {% endblock %}     -->