{% extends "base.html" %}  
{% block titulo %}<title>Perfil</title> {% endblock %}     

{% block contenido %} 
	<script type="text/javascript">
	$(function(){		
		$('.datepicker').datepicker({
			format: 'mm-dd-yyyy'
		});
	});
	</script>
	<form method="post"> {% csrf_token %}
		{{form_adherir_promocion.as_p}}
	</form>	
</body>
</html>
{% endblock %}