

<div class="ShoppingCartHead Horizontal" style="height: 90px">
    <div id="BSC_animation_cart">
    <img src="images/shoppingcart.png" /> Shopping
    <span style="font-weight: normal;"> Empty! Drag or Add products</span>    </div>
</div>
