
<div class="ShoppingCartHead" style="width: 17q0px">
    <img id="BSC_animation_cart" src="images/shoppingcart.png" />Shopping
</div>

<div class='ShoppingCartFoot'>Empty!<br />Drag or Add products</div>